
@{
    ViewData["Title"] = "Sobre o SisWeb";
}

<h1>@ViewData["Title"]</h1>
<p><h3>Sistema Web de Controle de Vendas</h3></p>
<p><strong>Mais sobre mim no GitHub:</strong><a href="https://github.com/LucioOSilva"> LucioOSilva</a>.</p>

