@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Message"] = "Hello World!";
    
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Message"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

